.navbar-default {
  margin-bottom: 0px;
}

.cover {
  width: 100%;
  height: 500px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('/static/img/bg.jpg');
  color: white;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  position: relative;
}
