{% extends "main/base.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block styles %}
{{super()}}

<style media="screen">
  .post-body img {
    max-width: 100%;
  }
</style>

{% endblock %}

{% block page_content %}

<div class="post">
  <div class="page-header">
    <h1>{{ post.title }}</h1>
    Autore <span class="label label-primary">{{post.author}}</span> Data <span class="label label-info">{{post.created_at.date()}}</span>
  </div>

  <div class="post-body">
    {{ post.body|markdown }}
  </div>

</div>

{% endblock %}
